.navbar-brand img {
	width: 150px;
}

.carousel-inner .container {
	/*padding-top: 80px;*/
}

.carousel-inner img {
	width: 220px;
}

.sponsor img {
	width: 200px;
	margin: auto;
}

.landing-page .contact {
	margin-top: 0;
}